@model selectDepartmentViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    ViewData["stdid"] = 0;
    paging Page = new paging();
    int pageNo = 0;
    if(ViewBag.Pager!=null)
    {
        Page = ViewBag.Pager;
        pageNo = Page.CurrentPage;
    }

}
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name in English
            </th>
            <th>
                Department
            </th>
            <th>
                Student Status
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.students)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentStatus)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-success">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.StudentId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-danger">Delete</a>
                    <a class="btn btn-secondary AddPopUp" id="btndocs" onclick="sendid(@item.StudentId)">Documents</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    @if (Page.TotalPages > 0)
    {

        <ul class="pagination justify-content-end">
            @for (var p = Page.StartPage; p <= Page.EndPage; p++)
            {
                <li class="page-item @(p==Page.CurrentPage ? "active" : "")">
                    <a id="pg" class="page-link" onclick=pager(@p)>@p</a>
                    

                </li>
            }

        </ul>
    }
   

</div>
@{
    Html.RenderPartial("_docpartialview");
}