@model ITIAttendanceSystem.Models.Student

@{
    ViewData["Title"] = "Details";
    ViewData["Title"] = "FirstWarning";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne" style="text-align: center;">
     Student Details
    </h2>
   

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Personal Data
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table class="table table-borderless">
            <thead>
                 <tr>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                 </tr>
            </thead>
            <tbody>
                <tr>
      <td><span class="table-primary";">Name English</span></td>
      <td>@Html.DisplayFor(model => model.StudentName)</td>
      <td class="table-primary">Name Arabilc</td>
      <td>@Html.DisplayFor(model => model.StudentName)</td>
    </tr>
    <tr>
      
         <td class="table-primary">Gender</td>
         <td>@Html.DisplayFor(model => model.StudentName)</td>
         <td class="table-primary">Military</td>
         <td>@Html.DisplayFor(model => model.MilitaryStatusName)</td>
    </tr>
  </tbody>
</table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Eductional Data
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
                <table class="table table-borderless">
            <thead>
                 <tr>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                 </tr>
            </thead>
            <tbody>
                <tr>
      <td class="table-primary">University</td>
      <td>@Html.DisplayFor(model => model.University)</td>
      <td class="table-primary">Faculty</td>
      <td>@Html.DisplayFor(model => model.Faculty)</td>
    </tr>
    <tr>
      
         <td class="table-primary">Specification</td>
         <td>@Html.DisplayFor(model => model.Specialization)</td>
         <td class="table-primary">Graduation Year</td>
         <td>@Html.DisplayFor(model => model.GraduationYear)</td>
    </tr>
     <tr>
      
         <td class="table-primary">Grade</td>
         <td>@Html.DisplayFor(model => model.GraduationGrade)</td>
         
    </tr>
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>
 <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Contact Info
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
                <table class="table table-borderless">
            <thead>
                 <tr>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                 </tr>
            </thead>
            <tbody>
                <tr>
      <td class="table-primary">Address</td>
      <td>@Html.DisplayFor(model => model.Address)</td>
      <td class="table-primary">Email</td>
      <td>@Html.DisplayFor(model => model.Faculty)</td>
    </tr>
    <tr>
      
         <td class="table-primary">Mobile</td>
         <td>@Html.DisplayFor(model => model.Mobile)</td>
         <td class="table-primary">Phone</td>
         <td>@Html.DisplayFor(model => model.HomePhone)</td>
    </tr>
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>
 <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Comments
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
           <table class="table table-borderless">
            <thead>
                 <tr>
                     <th scope="col"></th>
                     <th scope="col"></th>
                 </tr>
            </thead>
            <tbody>
                <tr>
                    @{
                foreach(Comment comment in ViewBag.comment)
                {
                    <td class="table-primary">@comment.CommentType</td>
                    <td class="table-primary">@comment.Body</td>
                            }
                        }
                    </tr>
  </tbody>
</table>
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <div class="accordion-header" id="headingOne" style="text-align: center;margin-left:20px">
     <a class="btn btn-danger" href="/Students/Details?Id=1050&warning=1"><span dir="rtl" lang="ar"> انذار اول</span></a>
     <a class="btn btn-danger" href="/Students/Details?Id=1050&warning=2"><span dir="rtl" lang="ar" asp-action="SecondWarning"> انذار تاني</span></a>
     <a class="btn btn-danger" href="/Students/Details?Id=1050&warning=3"><span dir="rtl" lang="ar"asp-action="Season"> فصل</span></a>

    </div>

    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentId" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
@section Scripts{
    <script>

        $("#Warningone").click(function(){
            var StudentId = HTMLModElement.StudentId;
            console.log(model.StudentId);
            $("#Students").load("/Students/FirstWarning?id="+StudentId);
        })
    </script>
}

