@*@model IEnumerable<ITIAttendanceSystem.Models.Student>*@
    @model selectDepartmentViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form>
    @Html.DropDownListFor(a=>a.selectdept,Model.DepartmentSelectList)

    <input type="submit" value="Filter"/>

    <a asp-action="Create" class="btn btn-primary">Add Student </a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.students.StudentId)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.students.StudentName)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.StudentStatus)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Department)*@
            </th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.students) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentStatus)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Department.ShortName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-success">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.StudentId" class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-danger">Delete</a>
                <a class="btn btn-secondary AddPopUp" >Documents</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade"  id="MyPopUp" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<table class="table">
  <tbody>

    <tr class="table-info">
      <td>ID Photo</td>
      <td>Birth Date</td>
      <td>Graduation</td>
    </tr>
      <tr>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>

    </tr>
    <tr class="table-info">
      <td>Contract</td>
      <td>Police Paper</td>
      <td>Military</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><select>
          <option value="True">True</option>
          <option value="False">False</option>
          
      </select>
      </td>
    </tr>
    <tr >
      <td class="table-info">Notes</td>
      <td><textarea class="form-control" id="textAreaExample4" rows="3"></textarea></td>

    </tr>
  </tbody>
</table>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".AddPopUp").click(function (e) {
                $('#MyPopUp').modal('show');
            });
        });
    </script>
    }
