@model ITIAttendanceSystem.Models.studentPermission

@{
    ViewData["Title"] = "Details";
}

<h1>Permission Details</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          Permission Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionType)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instructor.InstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary col-lg">Back to List</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success col-lg">Edit</a> 
</div>
